<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/api/newDish" encType="multipart/form-data" method="POST">
        <input type="text" name='title'>
        <input type="text" name='type'>
        <input type="file" name='sampleFile'>
        <input type="text" name='description'>
        <input type="text" name='price'>
        <input type="submit" value="">
    </form>
    <form action="/api/delete" encType="multipart/form-data" method="POST">
        <input type="submit" value="">
    </form>

    <form action="/api/update" encType="multipart/form-data" method="POST">
        <input type="text" name='id'>
        <input type="text" name='title'>
        <input type="text" name='type'>
        <input type="file" name='sampleFile'>
        <input type="text" name='description'>
        <input type="text" name='price'>
        <input type="submit" value="">
    </form>
</body>
</html>